/* @import 'open-props/easings';
@import 'open-props/animations'; */

html,
body,
#root,
.mantine-AppShell-root,
.mantine-AppShell-body,
main {
    height: 100%;
    overflow: auto;
    position: relative;
}

main > div > * {
    animation: fade-in-slide-up 250ms cubic-bezier(0.55, 0.09, 0.68, 0.53) both;
}

body,
footer,
header,
.mantine-AppShell-body > *,
input {
    transition: background-color 500ms ease-in-out, color 250ms ease-in-out,
        border 250ms ease-in-out, box-shadow 250ms ease-in-out;
}

svg {
    font-size: 1.25rem;
}

.mantine-Notification-root::before {
    left: -2px;
    top: -1px;
    bottom: -1px;
    width: 8px;
    border-radius: 4px 0 0 4px;
}

.position-relative {
    position: relative;
}

@keyframes fade-out {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fade-in-slide-up {
    0% {
        transform: translateY(10px);
        opacity: 0;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}
