html,
body,
#root,
.mantine-AppShell-root,
.mantine-AppShell-body {
    height: 100%;
}

body,
footer,
header,
.mantine-AppShell-body > *,
input {
    transition: background-color 500ms ease-in-out, color 250ms ease-in-out,
        border 250ms ease-in-out, box-shadow 250ms ease-in-out;
}

svg {
    font-size: 1.25rem;
}
